<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Progress</title>
    <link rel="stylesheet" type="text/css" href="/static/progress.css"/>
</head>
<body>
    <div id="gitsight-pro-title">GITSIGHT PRO</div>
    <div id="progress-container">
        <h2>Download Progress</h2>
        <div id="progress-bar"></div>
        <div id="progress-message"></div>
        <div id="progress-percentage"></div>
        <button id="new-analysis-btn" onclick="window.location.href='/repo-info?new_analysis=true'">New Analysis</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            var progressBar = $("#progress-bar");
            var progressMessage = $("#progress-message");
            var progressPercentage = $("#progress-percentage");
            var newAnalysisBtn = $("#new-analysis-btn");

            function updateProgressBar() {
                $.get("/get-progress", function(data) {
                    console.log(" data recibida:", data);
                    progressBar.css("width", data.progress + "%");
                    progressPercentage.text(data.progress + "%");
                    progressMessage.text(data.message);
                    // Si el progreso no ha llegado al 100%, sigue actualizando
                    if (data.progress < 100) {
                        setTimeout(updateProgressBar, 1000);
                    } else {
                        // Si el progreso llegó al 100%, muestra el botón para iniciar un nuevo análisis
                        newAnalysisBtn.show();
                    }
                });
            }

            // Da inicio a la actualización de la barra de progreso al cargar la página
            updateProgressBar();
        });
    </script>
</body>
</html>
