<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
</head>
<body>
  <div class="ve" style="font-size: 130%;">
    <span style="color: #AA55FF; font-weight: bold;">/</span> GITSIGHT PRO <span style="color: #AA55FF; font-weight: bold;">/</span>
  </div>
  <div class="pagina" style="padding-bottom: 3%;">
    <div class="c1">
        <div class="menu" style="font-size: 150%; padding: 7% 0% 0% 7%;">
            <button style="border:none; background: transparent; font-weight: bolder; color: #AA55FF; font-size: 100%; padding-left: 25px;" onclick="window.location.href='/'">Homepage</button>
            <button style="border:none; background: transparent; font-weight: bold; color: #AA55FF; font-size: 100%; padding-left: 25px;" onclick="window.location.href='/signin'">About us </button>
            <button style="border:none; background: transparent; font-weight: bold; color: #AA55FF; font-size: 100%; padding-left: 25px;" onclick="window.location.href='/signin'">Gitsight Pro </button>
            <button style="border:none; background: transparent; font-weight: bold; color: #AA55FF; font-size: 100%; padding-left: 25px;" onclick="window.location.href='/signin'"><u>Sign In </u></button>
        </div>
        <div class="tool">
           <b> Git<br>Sight<br>Pro<br><span style="color: #AA55FF;">/</span></b><br>productivity<br>analysis
        </div>
    </div>
    <div class="mid" style="margin-top: 10%; margin-bottom: 10%;">
        <div class="signin" style="font-size: 150%; text-align: center;">Sign In</div>
        <div style="margin-top: 4%; margin-bottom: 4%;">To access the tool, you will need to log in with your GitHub account.</div>
        <div class="btn">
            <button style="border:none; background: #AA55FF; font-weight: bolder; color: #ffffff; font-size: 100%; margin: 5%; width: 300px;" onclick="window.location.href='/github-login'">
                <img src="/static/logo-github-1.png" alt="GitHub Logo" class="btnGit" style="margin-right: 15px;">
                Get started with GitHub
            </button>
        </div>
    </div>      
  </div>
</body>
</html>
